@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: local("Roboto"), url("fonts/roboto.woff2") format("woff2"), url("fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: local("Roboto Medium"), url("fonts/robotomedium.woff2") format("woff2"), url("fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: local("Roboto Bold"), url("fonts/robotobold.woff2") format("woff2"), url("fonts/robotobold.woff") format("woff");
}

:root {
  --basic-grey: #EEEEEE;
  --basic-light-grey: #666666;
  --basic-black: #000000;
  --basic-red: #FB565A;
  --basic-red-click: #E37376;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-white: #ffffff;
  --basic-dark-grey: #4D4D4D;
  --basic-grey-click: #B3B3B3;
  --special-red: #E74246;
  --special-red-click: #D7373B;
  --special-green: #00BC6C;
  --basic-green-click: #4DC391;
  --special-green-click: #00AA62;
  --special-yellow: #EAB534;
  --special-yellow-click: #E5A722;
  --basic-yellow-click: #EDC164;
  --special-filter-grey: #DFDFDF;
  --special-filter-grey-click: #D5D5D5;
  --special-grey-pagination: #959595;
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

}

a {
  text-decoration: none;
  color: var(--basic-black);
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

/* Grid */

.page {
  height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Main navigation */
.main-header {
  background-color: var(--basic-grey);
}

.main-navigation {
  display: grid;
  grid-template-columns: 160px 740px 160px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 50px;
  gap: 50px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 450px;
  margin-left: 202px;
  gap: 50px;
}

.basket-link {
  justify-self: right;
  gap: 50px;
}

.site-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:active {
  color: var(--basic-grey-click);
}

.basket-link:active {
  color: var(--basic-grey-click);
}

.basket-link:hover {
  color: var(--basic-red);
}

/* slider */
.slider {
  background-color: var(--basic-grey);
  margin-bottom: 80px;
  padding: 0 10px;

}

.slider-list {
  list-style: none;
  padding: 0;
  min-height: 431px;
}

.slider-item h3{
  width: 538px;
}

.slider-item p{
  width: 400px;
}


/*   display: grid;
      grid-template-columns: min-content 760px;

.slider-image {
  grid-area: 1/2/-1/-1;
}
 */

.slider-item h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}


/* products */
.products-list {
  list-style: none;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 100px;
  margin: 0;
  padding: 0;
}

.products {
  padding: 0 10px;
  min-height: 347px;
  margin-bottom: 136px;
}

.product-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}


/* index-columns */
.index-columns {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 149px;
}

.index-columns h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.index-columns h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.information-list {
  margin: 0;
  padding: 0;
}

.advantages-list span {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.advantages p{
  font-size: 16px;
}

.advantages-item_number {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* clients list */

.clients-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
}

/* catalog */

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  width: 1160px;
  margin: 0 auto;
  padding: 100px 0;
}

.main-class {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 140px;
}

.sort {
  display: grid;
  grid-template-columns: 360px 360px;
  margin-left: 400px;
  padding: 50px 0;
  gap: 40px;
}

.sort-list {
  padding: 0 0;
}

.sorting-tag {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}


/* filter sort + checkbox lineheight 20 */
.sort-list {
  list-style: none;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.sort-item a {
  color: var(--basic-grey-click);
}

.sort-item a:hover {
  color: var(--basic-light-grey);
}

.sort-item a:active {
  color: var(--basic-black);
}

.sort svg {
  color: var(--basic-grey-click);
}

.sort svg:hover {
 color: var(--basic-light-grey);
}

.sort svg:active {
  color: var(--basic-black);
}


.slide-range label{
  line-height: 22px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 41px;
  padding: 0;
}
.catalog-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item {
  margin: 30px 0 0 0;
}
.catalog-item-description {
    width: 255px;
    height: 37px;
}
.catalog-list p {
  color: var(--basic-light-grey);
  line-height: 18px;
}

.catalog-background {
  background-color: var(--basic-grey);
}

.catalog-item-title a:hover {
   color: var(--basic-red);
}

.catalog-item-title a:active {
   color: var(--basic-grey-click);
}

.pagination-list {
  list-style: none;
  font-weight: 500;
  line-height: 18px;
  margin: 50px 0;
  padding: 0;
}

.pagination-item a {
   background-color:var(--basic-grey);
}

.pagination-item current a{
   background-color:var(--basic-white);
}

.pagination-item a:hover {
  background-color: var(--special-filter-grey);
}

.pagination-item a:active {
  color: var(--special-grey-pagination);
  background-color: var(--special-filter-grey-click);
}


/* Button */
.button {
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  height: 50px;
}

.slidertag {
  padding: 17px 54px 15px 54px;
}

.button:hover {
  background-color: var(--special-red);
}

.button:active {
  color: var(--basic-red-click);
  background-color: var(--special-red-click);
}

.button_red {
  padding: 17px 40px 15px 39px;
}

.button_green {
  background-color: var(--basic-green);
  padding: 17px 40px 15px 39px;
}

.button_green:hover {
  background-color: var(--special-green);
}

.button_green:active {
  color: var(--basic-green-click);
  background-color: var(--special-green-click);
}

.button_yellow {
  background-color: var(--basic-yellow);
  padding: 17px 40px 15px 39px;
}

.button_yellow:hover {
  background-color: var(--special-yellow);
}

.button_yellow:active {
  color: var(--basic-yellow-click);
  background-color: var(--special-yellow-click);
}

.contactsbutton {
  padding: 17px 44px 15px 44px;
}

.filtertag {
  font-weight: 500;
  line-height: 18px;
  border: none;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  width: 260px;
  margin: 50px 0 0 0;
}

.filtertag:hover {
  background-color: var(--special-filter-grey);
}

.filtertag:active {
  color: var(--special-grey-pagination);
  background-color: var(--special-filter-grey-click);
}

.size1 {
  width: 200px;
}

/* Main footer */

.main-footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.contacts {
  background-color: var(--basic-white);
  width: 319px;
  height: 308px;
  padding: 50px;
}

.map {
  width: 100%;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 30px;
  line-height: 42px;
}

.footer-discount h3 {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.footer-contacts {
  width: 1160px;
  margin: 0 auto;
}

.footer-contacts p {
  padding: 0;
  margin: 0 0 37px 0;
}

.footer-columns {
  display: grid;
  grid-template-columns: 300px 600px;
  gap: 100px;
  min-height: 81px;
}

.social-list {
  margin: 0;
  padding: 0;
}


/* Social button */
.social-button {
  color: var(--basic-white);
  background-color: var(--basic-grey);
}

.social-button:hover {
  background-color: var(--special-red);
}

.social-button:active {
  background-color: var(--special-red-click);  
}

.footer-discount p {
  line-height: 22px;
}

