@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: local("Roboto"), url("fonts/roboto.woff2") format("woff2"), url("fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: local("Roboto Medium"), url("fonts/robotomedium.woff2") format("woff2"), url("fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: local("Roboto Bold"), url("fonts/robotobold.woff2") format("woff2"), url("fonts/robotobold.woff") format("woff");
}

:root {
  --basic-grey: #EEEEEE;
  --basic-light-grey: #666666;
  --basic-black: #000000;
  --basic-red: #FB565A;
  --basic-red-click: #E37376;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-white: #ffffff;
  --basic-dark-grey: #4D4D4D;
  --basic-grey-click: #B3B3B3;
  --special-red: #E74246;
  --special-red-click: #D7373B;
  --special-green: #00BC6C;
  --basic-green-click: #4DC391;
  --special-green-click: #00AA62;
  --special-yellow: #EAB534;
  --special-yellow-click: #E5A722;
  --basic-yellow-click: #EDC164;
  --special-filter-grey: #DFDFDF;
  --special-filter-grey-click: #D5D5D5;
  --special-grey-pagination: #959595;
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--basic-black);
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

/* Grid */

.page {
  height: 100%;
}


/* Main navigation */
.main-header {
  background-color: var(--basic-grey);
}

.main-navigation {
  display: grid;
  grid-template-columns: 160px min-content 160px;
  font-weight: 500;
  line-height: 30px;
  gap: 200px;
  padding-top: 48.98px;
  width: 1160px;
  margin: 0 auto;
}

.site-navigation {
  list-style: none;
  justify-self: center;
  margin: 0;
  padding: 0;
  width: 450px;
  margin-left: 202px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: auto;
}

.basket-link {
  align-items: center;
  width: 115px;
}

.site-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:active {
  color: var(--basic-grey-click);
}

.basket-link:active {
  color: var(--basic-grey-click);
}

.basket-link:hover {
  color: var(--basic-red);
}

/* slider */
.slider {
  background-color: var(--basic-grey);
  margin-bottom: 80px;
  padding: 0 10px;
}

.slides {
  width: 1160px;
  min-height: 431px;
  margin: 0 auto;
  min-width: 1175px;
  display: grid;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}


/* products */
.products-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.products {
  width: 1100px;
  padding: 53px 10px;
  min-height: 347px;
  margin: 0 auto;
  margin-bottom: 121px;
}

.product-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

/* index-columns */
.index-columns {
  display: grid;
  grid-template-columns: min-content 360px;
  column-gap: 149px;
  width: 1174px;
  margin-bottom: 73px;
  margin: 0 auto;
}

.index-columns h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  width: 651px;
  height: 91px;
}

.index-columns h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.information {
  width: 651px;
  height: 413px;
}

.information-list {
  margin: 0;
  padding: 0;
  height: 100px;
}

.advantages-list span {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.advantages p{
  font-size: 16px;
}

.advantages-item_number {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.advantages-list {
  list-style: none;
  width: 360px;
  min-height: 413px;
  min-height: 413px;
}

/* clients list */
.clients-list {
  display: grid;
  grid-template-columns: 199px 209px 185px 173px;
  width: 1159px;
  margin-bottom: 44px;
  list-style: none;
}

.clients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 80px 0 0 0;
}

/* catalog */

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.sorting-tag {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

/* filter sort + checkbox lineheight 20  */

.sort-list {
  list-style: none;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.sort-item a {
  color: var(--basic-grey-click);
}

.sort-item a:hover {
  color: var(--basic-light-grey);
}

.sort-item a:active {
  color: var(--basic-black);
}

.sort svg {
  color: var(--basic-grey-click);
}

.sort svg:hover {
 color: var(--basic-light-grey);
}

.sort svg:active {
  color: var(--basic-black);
}

.slide-range label{
  line-height: 22px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.catalog-list {
  list-style: none;

}
.catalog-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-list p {
  color: var(--basic-light-grey);
  line-height: 18px;
}

.catalog-background {
  background-color: var(--basic-grey);
}

.catalog-item-title a:hover {
   color: var(--basic-red);
}

.catalog-item-title a:active {
   color: var(--basic-grey-click);
}

.pagination-list {
  list-style: none;
  font-weight: 500;
  line-height: 18px;
}

.pagination-item a {
   background-color:var(--basic-grey);
}

.pagination-item current a{
   background-color:var(--basic-white);
}

.pagination-item a:hover {
  background-color: var(--special-filter-grey);
}

.pagination-item a:active {
  color: var(--special-grey-pagination);
  background-color: var(--special-filter-grey-click);
}

/* Button */
.button {
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.button:hover {
  background-color: var(--special-red);
}

.button:active {
  color: var(--basic-red-click);
  background-color: var(--special-red-click);
}

.button_green {
  background-color: var(--basic-green);
}

.button_green:hover {
  background-color: var(--special-green);
}

.button_green:active {
  color: var(--basic-green-click);
  background-color: var(--special-green-click);
}

.button_yellow {
  background-color: var(--basic-yellow);
}

.button_yellow:hover {
  background-color: var(--special-yellow);
}

.button_yellow:active {
  color: var(--basic-yellow-click);
  background-color: var(--special-yellow-click);
}

.filter-button {
  font-weight: 500;
  line-height: 18px;
  border: none;
  text-transform: uppercase;
  background-color: var(--basic-grey);
}

.filter-button:hover {
  background-color: var(--special-filter-grey);
}

.filter-button:active {
  color: var(--special-grey-pagination);
  background-color: var(--special-filter-grey-click);
}

/* Main footer */

.main-footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 30px;
  line-height: 42px;
}

.discount h3 {
  font-size: 36px;
  line-height: 36px;
  margin-left: 139px;
  margin: 0;
  margin-bottom: 10px;
}

.footer-contacts {
  width: 1440px;
  min-height: 416px;
  margin: 0 auto;
  margin-bottom: 68px;
}

.footer-contacts p {
  padding: 0 10px;
  margin: 0 auto;
}

.map {
  height: 416px;
  width: 1440px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.social-columns {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 1060px;
  min-height: 81px;
  margin: 0 auto;
  margin-bottom: 68px;
}

.social-list {
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/* Social button */
.social-button {
  color: var(--basic-white);
  background-color: var(--basic-grey);
}

.social-button:hover {
  background-color: var(--special-red);
}

.social-button:active {
  background-color: var(--special-red-click);  
}

.discount p {
  line-height: 22px;
}

